<div class="container-fluid bg-light">
    <div class="container bg-light">
 
 
        <div class="row mt-4" style="height: 500px;">
            <div class="col-md-6 bg-white shadow">
 
 
                <div class="card bg-warning mt-4">
                    <h4 class="text-white p-3 pt-2 pb-2">Intervention App</h4>
                </div>

                <div class="shadow">
                    <div class="input-group p-4">
                        
                        <div class="mb-3">
                            <label class="form-label">Libellé</label>
                            <input type="test" class="form-control" placeholder="Enter libelle " [(ngModel)]="interventionObj.libelle">
                        </div>
                          <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" placeholder="Enter description " [(ngModel)]="interventionObj.description">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Nom d'intervenant</label>
                            <input type="text" class="form-control" placeholder="Enter nom_intervenant " [(ngModel)]="interventionObj.nom_intervenant">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Lieu</label>
                            <input type="text" class="form-control" placeholder="Enter lieu " [(ngModel)]="interventionObj.lieu">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Date</label>
                            <input type="text" class="form-control" placeholder="dd/mm/yyyy" [(ngModel)]="interventionObj.date_intervention">
                          </div>
                          
                         
                       
                        <button class="btn btn-primary" type="button" (click)="addIntervention()">Ajouter</button>
                    
                      </div>
                </div>
                
                <h4 class="text-primary mt-4">Interventions : </h4>

                <button type="button" class="btn btn-outline-secondary" (click)="ngOnInit()">Order</button>
               <div style="overflow-y: auto; height: 350px;">
                   <div class="m-3" *ngFor="let intervention of interventionArr">
                       <div class="p-2 shadow border">
                        <span class="badge" [ngClass]="getBadgeInfo(intervention).class">{{ getBadgeInfo(intervention).text }}</span>
                           <div class="input-group row ps-3 " >
                               <div class="card col-md-10 border-0"> {{intervention.libelle}}  {{intervention.date_intervention}} </div>
                               <button class="btn btn-outline-primary col me-2" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal" (click)="call(intervention)" [disabled]="isDateBeforeToday(intervention.date_intervention)">e</button>
                               <div class="btn btn-outline-danger col" (click)="deleteIntervention(intervention)">X</div>

                           </div>
                       </div>
                   </div>
               </div>

               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Intervention</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="ngOnInit()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group p-4">
                            <p><label>Libellé</label>
                                <input type="text" class="form-control" placeholder="Enter libelle " name="libelle" [(ngModel)]="interventionObjedit.libelle"></p>
                            <p><label>Description</label>
                            <input type="text" class="form-control" placeholder="Enter description " name="description" [(ngModel)]="interventionObjedit.description">
                        </p><p><label>Nom intervenant</label>
                            <input type="text" class="form-control" placeholder="Enter nom_intervenant " name="nom_intervenant" [(ngModel)]="interventionObjedit.nom_intervenant">
                        </p><p><label>Lieu</label>
                            <input type="text" class="form-control" placeholder="Enter lieu " name="lieu" [(ngModel)]="interventionObjedit.lieu">
                        </p><p><label>Date</label>
                            <input type="text" class="form-control" placeholder="Enter date_intervention " name="date_intervention" [(ngModel)]="interventionObjedit.date_intervention">
                            <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal" (click)="editIntervention()">Update</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>



            </div>
        </div>
    </div>
</div> 